In [51]:
import pandas as pd

In [52]:
f = open('archive/demographic_info.txt', 'r')

In [53]:
lines = f.readlines()

In [54]:
patient_number = []
age = []
sex = []
adult_bmi = []
child_weight = []
child_height = []

In [55]:
for line in lines[1:]:
    row = line.strip().split()
    
    patient_number.append(row[0])
    age.append(row[1] if row[1] != 'NA' else None)
    sex.append(row[2] if row[2] != 'NA' else None)
    adult_bmi.append(row[3] if row[3] != 'NA' else None)
    child_weight.append(row[4] if row[4] != 'NA' else None)
    child_height.append(row[5] if row[5] != 'NA' else None)

In [56]:
df = pd.DataFrame(
    {
        'patient_number': patient_number,
        'age': age,
        'sex': sex,
        'adult_bmi': adult_bmi,
        'child_weight': child_weight,
        'child_height': child_height
    }
)

In [59]:
df.to_csv('demographic_info.csv', index=False)

In [58]:
df.head()

  patient_number   age sex adult_bmi child_weight child_height
0            101     3   F      None           19           99
1            102  0.75   F      None          9.8           73
2            103    70   F        33         None         None
3            104    70   F     28.47         None         None
4            105     7   F      None           32          135